// Styling for the masthead-2
header.masthead-2 {
  height: 25vh;
  margin-top: 80px;
  text-align: center;
  color: white;
  background-image: url('../img/header-bg-2.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left;
  background-size: cover;

  .intro-text {
    padding-top: 8vh;
    margin-left: 0;
    display: flex;
    flex-direction: row;

    .intro-heading {
      color: $text-gray;
      font-size: 16px;
      line-height: 18px;
      @include heading-font;
      text-align: center;

      .underline {
        border-bottom: none;
      }

      a {
        text-decoration: none;
  
        &.active,
        &:focus,
        &:hover {
          color: $white;
          .underline {
            border-bottom: 2px solid;
          }
        }
      }
    }
  }
  .second-line {
    margin-top: 5px;
    text-align: center;
  }
  .underline {
    padding-bottom: 10px;
  }
}
@media(min-width:768px) {
  header.masthead-2 {
    .intro-text {
      margin-left: 5vw;
      display: flex;
      flex-direction: row;
      
      .intro-heading {
        color: $text-gray;
        font-size: 16px;
        line-height: 18px;
        margin: 0 10px;
        @include heading-font;
        text-align: center;
      }
    }
  }
}
@media(min-width:1024px) {
  header.masthead-2 {
    .intro-text {
      padding-top: 10vh;
      margin-left: 20vw;
      display: flex;
      flex-direction: row;

      .intro-heading {
        color: $text-gray;
        font-size: 16px;
        line-height: 18px;
        margin: 0 10px;
        @include heading-font;
        text-align: center;
      }
    }
  }
}
@media(min-width:1200px) {
  header.masthead-2 {
    .container {
      max-width: 1300px;
    }
    .intro-text {
      padding-top: 10vh;
      margin-left: 30vw;
      display: flex;
      flex-direction: row;
      
      .intro-heading {
        color: $text-gray;
        font-size: 16px;
        line-height: 18px;
        margin: 0 30px;
        @include heading-font;
        text-align: right;
      }
    }
  }
}
