.img-tile {
  border: 1px solid black;
}

.image-mosaic {
  margin: 0;
  padding: 0;
  * {
    margin: 0;
    padding: 0;
  }
  div {
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
}